---
layout: default
---

<div class="home art">
  <div class='side-anchors'>
    <details open>
      <summary>Highlights</summary>
      <ul>
        {% for post in site.art reversed %}
          {% if post.published == false %}
            {% continue %}
          {% endif %}
          {% if post.anchor == nil %}
            {% continue %}
          {% endif %}
          <li>
            <a href='#{{ post.title }}'>
              <span class='meta'>
                {{ post.date | date: "%Y" }}
              </span>
              {{ post.anchor }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>
  </div>

  <ul class="post-list">
    {% for post in site.art reversed %}
      {% if post.published == false %}
        {% continue %}
      {% endif %}
      <li class='lang-{% if post.lang %}{{ post.lang }}{% else %}en{% endif %}'>
        <h2>
          <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->

          <!--<p class="post-meta">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.meta %} • <span>{{ post.meta }}</span>{% endif %}
          </p>-->

        <article class='post-content'>
          {% if post.anchor %}
          <span id='{{ post.title }}'></span>
          {% endif %}
          {{ post.content | markdownify }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via rss</a></p>

</div>
