---
layout: default
---

<div class="home art">
  <div class='notice'>
    {% assign email_body = "Hello Mahdi,%0A%0AI am looking for a photographer for <please describe your event / goal and the timing, if you know it.>.%0A%0ABest,%0A<Your name>" %}
    {% assign email_subject = "Photography Service" %}
    <p>
      If you want to hire me as a photographer, send me an email to
      <a href='mailto:mdibaiee@pm.me?subject={{ email_subject }}&body={{ email_body}}'>mdibaiee@pm.me</a>
    </p>
  </div>

  <div class='side-anchors'>
    <details open>
      <summary>Highlights</summary>
      <ul>
        {% for post in site.art reversed %}
          {% if post.published == false %}
            {% continue %}
          {% endif %}
          {% if post.anchor == nil %}
            {% continue %}
          {% endif %}
          <li>
            <a href='#{{ post.title }}'>
              <span class='meta'>
                {{ post.date | date: "%Y" }}
              </span>
              {{ post.anchor }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </details>
  </div>

  <ul class="post-list">
    {% for post in site.art reversed %}
      {% if post.published == false %}
        {% continue %}
      {% endif %}
      <li class='lang-{% if post.lang %}{{ post.lang }}{% else %}en{% endif %}'>
        <h2>
          <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->

          <!--<p class="post-meta">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.meta %} • <span>{{ post.meta }}</span>{% endif %}
          </p>-->

        <article class='post-content'>
          {% if post.anchor %}
          <span id='{{ post.title }}'></span>
          {% endif %}
          {{ post.content | markdownify }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via rss</a></p>

</div>
