---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

          <p class="post-meta">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.author %} • <span>{{ post.author }}</span>{% endif %}
            {% if post.meta %} • <span>{{ post.meta }}</span>{% endif %}
            • <span>Reading time: {{ post.content | reading_time }}</span>
          </p>
        </h2>
        <article class='post-content'>
          {{ post.excerpt }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via rss</a></p>

</div>
