---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.published == false %}
        {% continue %}
      {% endif %}
      <li class='lang-{% if post.lang %}{{ post.lang }}{% else %}en{% endif %}'>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | markdownify }}</a>

          <p class="post-meta">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.meta %} • <span>{{ post.meta }}</span>{% endif %}
            • <span>Reading time: {{ post.content | reading_time }}</span>
            • <span><a href="/raw{{ post.url }}">raw</a></span>
          </p>
        </h2>
        <article class='post-content'>
          {{ post.excerpt }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via rss</a></p>

</div>
