<header class="site-header">

  <h1>
    <a class='site-title' href='{{ site.baseurl }}/'>
      {{ site.title }}
    </a>
  </h1>

  <nav>
    <!--<a href='https://twitter.com/{{ site.twitter_username }}'>Twitter</a>-->
    <a href='https://github.com/{{ site.github_username }}'>GitHub</a>
    <a href='mailto:{{ site.email }}'>Email</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a>
    {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>

</header>
