<header class="site-header">

  <h1>
    <a class='site-title' href='{{ site.baseurl }}/'>
      {{ site.title }}
    </a>
  </h1>

  <nav>
    <p>
      <a href="/snippets">snippets</a>
      <a href="/art">pictures</a>
    </p>
    <!--<p class='categories'>-->
      <!--{% for collection in site.collections %}-->
        <!--{% if collection.title %}-->
        <!--<a href="{{ collection.path | prepend: site.baseurl }}">{{ collection.title }}</a>-->
        <!--{% endif %}-->
      <!--{% endfor %}-->
    <!--</p>-->
    <p>
      <a href='mailto:{{ site.email }}'>email</a>
      <a href='https://git.mahdi.blog/mahdi'>git</a>
      <a href='https://www.librarything.com/profile/mdibaiee'>librarything</a>
      <a href='https://www.linkedin.com/in/mdibaiee/'>linkedin</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">feed</a>
    </p>
  </nav>

</header>
