body {
  background: #FFF7EC;
  height: auto;
  padding-bottom: 5rem;
}

.share-page {
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 50px 0;
}

header {
  width: 100%;
  text-align: center;
  padding-top: $spacing-unit;

  img {
    // border-radius: 50%;
    margin: $spacing-unit auto;
    // border: 1px solid #F5DFC3;
  }
  h1 {
    font-size: 4rem;
    font-family: $head-font-family;
    text-transform: lowercase;
  }
  h1 a, & > a {
    text-decoration: none;
    color: $text-color !important;

    &:hover {
      border: none;
    }
  }

  nav {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  nav a {
    margin: 0 1rem;
  }

  a:visited {
    color: $brand-color;
  }
}

.page-heading {
  text-align: center;
  font-style: italic;
  margin-bottom: 3rem;
  width: 20%;
  height: 1px;
  border: 1px dotted rgba(0, 0, 0, 0.1);

  margin: 5rem auto;
}

.post-list, .post-header {
  list-style: none;
  margin-left: 0;
  margin-bottom: 5rem;

  h2, h1 {
    text-align: center;
  }
  .post-meta {
    font-size: $small-font-size;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
}

article p img {
  margin: 2rem auto;
  display: block;
}

strong {
  font-weight: bold;
}

.post article h1 {
  font-weight: bold;
}

.post-list li {
  margin-top: 100px;
}

.post-list li:first-of-type {
  margin-top: 0;
}

.post-list h2 {
  font-size: 1.5rem;
}

.post article h2 {
  font-size: 1.3rem;
}

.post-content [id] {
  position: relative;

  &:hover .heading-link {
    opacity: 1;
  }
}

.post-content .heading-link {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;

  left: -30px;
  top: 10px;

  padding-right: 30px;

  background: url(/img/link.svg) no-repeat;
  background-size: contain;

  opacity: 0;

  transition: opacity 0.3s ease;

  &:hover {
    border: none;
  }
}

article .image-caption {
  display: block;
  text-align: center;
  font-size: 10pt;
  color: $grey-color;
  margin-top: -1.5rem;
}

.rss-subscribe {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid lighten($grey-color, 20%);
  margin: 1.5rem 0;
}

.channel {
  #mahdi * {
    fill: #000000 !important;
  }

  & > a::before {
    content: 'BroadcastChannels rock';
    color: white;
    position: absolute;
    top: 250px;
    left: calc(50% - 83px);
    font-size: 15px;
    text-shadow: 0 0 1px white;
  }
}
