---
layout: default
---
<div class='post lang-{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}'>

  <div class="post-header">
    <h1 class="post-title">{{ page.title | markdownify }}</h1>
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle | markdownify }}</h1>
    {% endif %}
    <p class="post-meta">
      <span>{{ page.date | date: "%b %-d, %Y" }}</span>
      {% if page.meta %} • <span>{{ page.meta }}</span>{% endif %}
      • <span>Reading time: {{ content | reading_time }}</span>
      • <span><a href="/raw{{ page.url }}">raw</a></span>
    </p>
  </div>

  <article class="post-content">
    {{ content }}
  </article>

  <div id="commento"></div>
  <script defer
    src="//commento.theread.me/js/commento.js">
  </script>

  <script src="/js/heading-links.js"></script>
</div>
